/* Add global styles */
.student-body{
    background-color: cadetblue;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

table {
    margin-left: auto;
    margin-right: auto;
  }
  
    /* CSS to increase row height */
       /* CSS to increase row height and add dashed borders */
       table tbody tr {
        height: 50px; /* Adjust the height as needed */
        border-top: 5px solid black; /* Add dashed border below each row */
      }
    
      /* CSS to increase column width and add dashed borders */
      table th,
      table td {
        width: 150px; /* Adjust the width as needed */
        text-align: center; /* Optional: Center-align the content */
        border-right: 2px dashed black; /* Add dashed border to the right of each cell */
        border-bottom: 2px dashed black;
      }
  
      table th:first-child,
      table td:first-child{
        border-left: 2px dashed black;
      }
      table th{
        border-top: 2px dashed black;
      }
  
      .App {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
      }
      
      #timetable {
        margin-bottom: 20px;
      }
      
      .section-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
      
      .section {
        flex-basis: 45%; /* Adjust the width of each section */
      }
      
      .section ol {
        padding-left: 20px; /* Add left padding to the ordered list */
      }
  
      .separator {
        border-left: 4px solid green;
        height: 500px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 300;
      }
      
  